@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}

// Colors
$brightRed: #fc4747;
$darkBlue: #10141e;
$geryishBlue: #5a698f;
$semiDarkBlue: #161d2f;
$pureWhite: #ffffff;

body {
  font-family: "Outfit", sans-serif;
  background-color: $darkBlue;
  color: $pureWhite;
}

.container {
  padding-inline: 1rem;
}

.m-bl-1 {
  margin-block: 1rem;
}

.m-bl-2 {
  margin-block: 2rem;
}

.m-bl-3 {
  margin-block: 3rem;
}

.p-bl-1 {
  padding-block: 1rem;
}

.p-bl-2 {
  padding-block: 2rem;
}

.p-bl-3 {
  padding-block: 3rem;
}

.bg-sd-blue {
  background-color: $semiDarkBlue;
}

.h1,
h2,
h3,
h4 {
  font-style: normal;
}

.h1 {
  height: 25px;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3125px;
}

.h2 {
  height: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.h3 {
  height: 19px;
  font-weight: 500;
  font-size: 15px;
}

.h4 {
  height: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;

  img {
    height: 100%;
  }

  .nav-list {
    display: flex;
    li {
      margin-inline: 0.7rem;
      margin-block: 3px;
    }
  }
}

.avatar {
  border: 1px solid white;
  border-radius: 50%;
}

.active-nav-icon {
  path {
    fill: white;
  }
}

.active {
  path {
    fill: white;
  }
}

.input-container {
  display: flex;
  height: 2rem;

  .icon-container {
    margin-right: 0.5rem;
    padding-block: 0.2rem;
    img {
      height: 100%;
    }
  }

  .search-inp {
    background-color: $darkBlue;
    border: none;
    width: 100%;
    padding-inline: 0.5rem;
    color: $pureWhite;
    font-size: 16px;
    line-height: 20.16px;
    &::placeholder {
      color: rgba(255, 255, 255, $alpha: 0.5);
    }
  }
}

.movie-card {
  width: 10.25rem;
  position: relative;
  img {
    width: 100%;
    border-radius: 8px;
  }
  ul {
    display: flex;
    list-style: disc;
    li {
      font-size: 11px;
      font-weight: 300;
      margin-inline: 0.65rem;
    }
    li:first-child {
      list-style-type: none;
      margin-left: 0;
    }
    .category-list-item {
      display: flex;
      span {
        margin-left: 0.5rem;
      }
    }
  }
  .bookmark {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    height: 2rem;
    width: 2rem;
    background-color: rgba(16, 20, 30, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.trending {
  width: 15rem;

  .card-content {
    position: absolute;
    bottom: 0;
    margin: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .h1 {
    height: 40px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }

  .h3 {
    height: 30px;
    font-size: 24px;
    line-height: 19px;
  }
  .h4 {
    height: 23px;
    font-size: 18px;
    line-height: 23px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-container {
    margin-left: 10rem;
  }
  .navigation {
    flex-direction: column;
    position: fixed;
    height: calc(100vh - 4rem);
    border-radius: 20px;
    width: 6rem;
    padding: 2rem;
    margin: 2rem;

    img {
      width: 100%;
      height: unset;
    }
    .nav-list {
      flex-direction: column;
      margin-bottom: auto;
      margin-top: 4rem;
      li {
        margin-block: 1rem;
      }
    }
  }
}
