@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ul {
  list-style-type: none;
}

* a {
  text-decoration: none;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #10141e;
  color: #ffffff;
}

.container {
  padding-inline: 1rem;
}

.m-bl-1 {
  margin-block: 1rem;
}

.m-bl-2 {
  margin-block: 2rem;
}

.m-bl-3 {
  margin-block: 3rem;
}

.p-bl-1 {
  padding-block: 1rem;
}

.p-bl-2 {
  padding-block: 2rem;
}

.p-bl-3 {
  padding-block: 3rem;
}

.bg-sd-blue {
  background-color: #161d2f;
}

.h1,
h2,
h3,
h4 {
  font-style: normal;
}

.h1 {
  height: 25px;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3125px;
}

.h2 {
  height: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.h3 {
  height: 19px;
  font-weight: 500;
  font-size: 15px;
}

.h4 {
  height: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.5rem;
}

.navigation img {
  height: 100%;
}

.navigation .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .nav-list li {
  margin-inline: 0.7rem;
  margin-block: 3px;
}

.avatar {
  border: 1px solid white;
  border-radius: 50%;
}

.active-nav-icon path {
  fill: white;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
}

.input-container .icon-container {
  margin-right: 0.5rem;
  padding-block: 0.2rem;
}

.input-container .icon-container img {
  height: 100%;
}

.input-container .search-inp {
  background-color: #10141e;
  border: none;
  width: 100%;
  padding-inline: 0.5rem;
  color: #ffffff;
  font-size: 16px;
  line-height: 20.16px;
}

.input-container .search-inp::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-container .search-inp:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-container .search-inp::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-container .search-inp::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.movie-card {
  width: 10.25rem;
  position: relative;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: disc;
}

.movie-card ul li {
  font-size: 11px;
  font-weight: 300;
  margin-inline: 0.65rem;
}

.movie-card ul li:first-child {
  list-style-type: none;
  margin-left: 0;
}

.movie-card ul .category-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie-card ul .category-list-item span {
  margin-left: 0.5rem;
}

.movie-card .bookmark {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 2rem;
  width: 2rem;
  background-color: rgba(16, 20, 30, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trending {
  width: 15rem;
}

.trending .card-content {
  position: absolute;
  bottom: 0;
  margin: 1rem;
}

@media only screen and (min-width: 768px) {
  .h1 {
    height: 40px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }
  .h3 {
    height: 30px;
    font-size: 24px;
    line-height: 19px;
  }
  .h4 {
    height: 23px;
    font-size: 18px;
    line-height: 23px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-container {
    margin-left: 10rem;
  }
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    height: calc(100vh - 4rem);
    border-radius: 20px;
    width: 6rem;
    padding: 2rem;
    margin: 2rem;
  }
  .navigation img {
    width: 100%;
    height: unset;
  }
  .navigation .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: auto;
    margin-top: 4rem;
  }
  .navigation .nav-list li {
    margin-block: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */