@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}

// Colors
$brightRed: #fc4747;
$darkBlue: #10141e;
$geryishBlue: #5a698f;
$semiDarkBlue: #161d2f;
$pureWhite: #ffffff;

body {
  font-family: "Outfit", sans-serif;
  background-color: $darkBlue;
  color: $pureWhite;
}

.container {
  padding-inline: 1rem;
}

.m-bl-1 {
  margin-block: 1rem;
}

.m-bl-2 {
  margin-block: 2rem;
}

.m-bl-3 {
  margin-block: 3rem;
}

.p-bl-1 {
  padding-block: 1rem;
}

.p-bl-2 {
  padding-block: 2rem;
}

.p-bl-3 {
  padding-block: 3rem;
}

.bg-sd-blue {
  background-color: $semiDarkBlue;
}

.h1,
h2,
h3,
h4 {
  font-style: normal;
}

.h1 {
  height: 25px;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3125px;
}

.h2 {
  height: 19px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}

.h3 {
  height: 19px;
  font-weight: 500;
  font-size: 15px;
}

.h4 {
  height: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;

  img {
    height: 100%;
  }

  .nav-list {
    display: flex;
    li {
      margin-inline: 0.7rem;
      margin-block: 3px;
    }
  }
}

.avatar {
  border: 1px solid white;
  border-radius: 50%;
}

.active-nav-icon {
  path {
    fill: white;
  }
}

.active {
  path {
    fill: white;
  }
}

.input-container {
  display: flex;
  height: 2rem;

  .icon-container {
    margin-right: 0.5rem;
    padding-block: 0.2rem;
    img {
      height: 100%;
    }
  }

  .search-inp {
    background-color: $darkBlue;
    border: none;
    width: 100%;
    padding-inline: 0.5rem;
    color: $pureWhite;
    font-size: 16px;
    line-height: 20.16px;
    &::placeholder {
      color: rgba(255, 255, 255, $alpha: 0.5);
    }
  }
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  grid-gap: 15px;
  justify-items: center;
}

// .movie-list {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   gap: 15px;
// }
.trending-list {
  display: flex;
  overflow-x: scroll;
  gap: 15px;
  &::-webkit-scrollbar {
    background-color: $semiDarkBlue;
    height: 10px;
    border-radius: 5px;
  }
}
::-webkit-scrollbar-thumb {
  background-color: $geryishBlue;
  border-radius: 5px;
}

.movie-card {
  position: relative;
  cursor: pointer;
  width: 164px;

  .card-media {
    aspect-ratio: 1.49/1;
    border-radius: 8px;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .hover-event {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $darkBlue;
      opacity: 0.5;
      display: none;

      .play-movie {
        padding: 0.5rem;
        height: 3rem;
        border-radius: 999px;
        background-color: rgba(255, 255, 255, $alpha: 0.25);
        display: flex;
        align-items: center;
        h4 {
          margin-left: 1rem;
        }
      }
    }

    .bookmark {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      cursor: pointer;

      height: 2rem;
      width: 2rem;
      background-color: rgba(16, 20, 30, 0.5);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  ul {
    display: flex;
    list-style: disc;
    li {
      font-size: 11px;
      font-weight: 300;
      margin-inline: 0.65rem;
    }
    li:first-child {
      list-style-type: none;
      margin-left: 0;
    }
    .category-list-item {
      display: flex;
      span {
        margin-left: 0.5rem;
      }
    }
  }
}

.trending {
  width: 240px;

  .card-media {
    aspect-ratio: 1.71/1;
  }

  .card-content {
    position: absolute;
    bottom: 0;
    margin: 1rem;
  }
}

@media (hover: hover) {
  .movie-card {
    .card-media {
      &:hover {
        .hover-event {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .bookmark {
        &:hover {
          background-color: $pureWhite;
          path {
            stroke: $darkBlue;
          }
        }
      }
    }
  }
}

@media (hover: none) {
  .trending-list {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .h1 {
    height: 40px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }

  .h2 {
    height: 30px;
    font-size: 24px;
    line-height: 30px;
  }

  .h3 {
    height: 30px;
    font-size: 24px;
    line-height: 19px;
  }
  .h4 {
    height: 23px;
    font-size: 18px;
    line-height: 23px;
  }
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
  }
  .movie-card {
    width: 220px;
    .card-media {
      aspect-ratio: 1.57/1;
    }
  }

  .trending {
    width: 470px;
    .card-media {
      aspect-ratio: 2.04/1;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .main-container {
    margin-left: 10rem;
    margin-top: 2rem;
  }
  .navigation {
    flex-direction: column;
    position: fixed;
    height: calc(100vh - 4rem);
    border-radius: 20px;
    width: 6rem;
    padding: 2rem;
    margin-inline: 2rem;

    img {
      width: 100%;
      height: unset;
    }
    .nav-list {
      flex-direction: column;
      margin-bottom: auto;
      margin-top: 4rem;
      li {
        margin-block: 1rem;
      }
    }
  }
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 40px;
  }
  .movie-card {
    width: 280px;

    .card-media {
      aspect-ratio: 1.61/1;
    }
  }

  .trending {
    width: 470px;

    .card-media {
      aspect-ratio: 2.04/1;
    }
  }
}
